[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flask = "*"
flask-caching = "*"
flask-cors = "*"
flask-testing = "*"
fuzzywuzzy = "*"
jupyter = "*"
pandas = "*"
python-decouple = "*"
pylint = "*"
gunicorn = "*"
markdown2 = "*"
psycopg2 = "*"
python-dateutil = "*"
python-levenshtein = "*"
pycountry = "*"
redis = "*"
rq = "*"
requests = "*"
sqlalchemy = "*"
urllib3 = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
